

.blog-card{
    height: 350px;
    width: 220px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
}

.card-image{
    height: 190px;
    width: 170px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    object-fit: cover;
}
.card-image:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }
  .card-title{
    font-size: 19px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  .card-description{
    font-size: 18px;
    margin-top: 5px;
    display: block;
    text-align: justify;
  }
